<div style=
"color:rgb(0,0,0);letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;word-wrap:break-word">
  <div style=
  "color:rgb(0,0,0);font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:-webkit-auto;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;word-wrap:break-word">
    <div style=
    "color:rgb(0,0,0);font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:-webkit-auto;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;line-height:normal;word-wrap:break-word">
      <div style=
      "color:rgb(0,0,0);font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:-webkit-auto;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;word-wrap:break-word">
        <div style=
        "color:rgb(0,0,0);font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:-webkit-auto;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;word-wrap:break-word">
          <div>
            God bless,
          </div>
          <div>
            <br>
          </div>
          <div>
            {{ name }}
          </div>Resurrection School
        </div><a href="mailto:{{ email }}@resurrectionlansing.org" target=
        "_blank">{{ email }}@resurrectionlansing.org</span></a>
      </div>Office: <a href="tel:{{ phone }}" target="_blank">{{ phone }}</a>
    </div><span style=
    "color:rgb(0,0,0);font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px"><br class="m_-2757021541667349179Apple-interchange-newline"
    style=extern
    "color:rgb(0,0,0);font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px">

    <span style=
    "color:rgb(0,0,0);font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px">
    <span><span><span><span><span><span><span><span><img class="CToWUd" height=
    "118" id="m_-275702154166734917927195B9F-0B0C-441E-89A3-2DF05EC771D5" src=
    "assets/images/logo.jpg"
    width=
    "144"></span></span></span></span></span></span></span></span></span></span>
    <div style=
    "color:rgb(0,0,0);font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px">
      <em>Resurrection School partners with families<br>
to provide a nurturing Catholic environment <br>
focused on academic excellence, <br>
where students grow into disciples <br>
who know, love and serve <br>
our Lord Jesus Christ.</em>
    </div>
    <div class="yj6qo"></div>
    <div class="adL"></div>
  </div>
  <div class="adL"></div>
</div>
